
{% extends "news/base.html" %} 

{% load static %}

{% block css %}
<!-- aqui se cargan -->
{% endblock css %}

{% block contenido %}
    <!-- Contact Start -->
    <div class="container-fluid mt-5 pt-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Contáctenos para cualquier consulta</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-4 mb-3">
                        <h6 class="text-uppercase font-weight-bold mb-3">Contactanos</h6>
                        <form>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control p-4" placeholder="Su Nombre" required="required"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control p-4" placeholder="Su Email" required="required"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control p-4" placeholder="Sujeto" required="required"/>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="4" placeholder="Mensaje" required="required"></textarea>
                            </div>
                            <div>
                                <button class="btn btn-primary font-weight-semi-bold px-4" style="height: 50px;"
                                    type="submit">Mandar Mensaje</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <!-- Newsletter Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Subcripcion</h4>
                        </div>
                        <div class="bg-white text-center border border-top-0 p-3">
                            <p>Ver Nuestros Planes</p>
                            <div class="input-group mb-2" style="width: 100%;">
                                <div class="input-group-append">
                                    <a href="{% url 'planes' %}"><button  class="btn btn-primary font-weight-bold px-3">Planes</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Newsletter End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->



    <!-- Back to Top -->
    <a href="#" class="btn btn-primary btn-square back-to-top"><i class="fa fa-arrow-up"></i></a>
{% endblock contenido %}

{% block js %}
<!-- aqui se cargan -->
        
{% endblock js %}
    